---
import PageLayout from "@/layouts/Base";
import SocialList from "@/components/SocialList";
import { Image } from "@astrojs/image/components";
import thuanowaFace from "/public/thuanowa-face.jpeg";
const thuanowaFaceWidth = 200;
const imageFormat = "avif";

const meta = {
	title: "About",
	description: "yo! I'm Thuan PHam aka thuanowa",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<p class="mb-4">I'm making the internet more beautiful and blazingly fast.</p>
		<p>Here my face:</p>
		<Image
			src={thuanowaFace}
			width={thuanowaFaceWidth}
			format={imageFormat}
			alt="thuan pham aka thuanowa face"
			loading="eager"
		/>
		<SocialList />
		<p>
			Here is my resume: <a class="cactus-link inline-block" href="https:/l.thuanowa.com/resume"
				>https:/l.thuanowa.com/resume</a
			>
		</p>
	</div>
</PageLayout>
