---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";

import { Image } from "astro:assets";
import thuanowaFace from "/public/thuanowa-face.png";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const meta = {
	title: "home",
	description: "thuanowa website home page",
};
---

<PageLayout meta={meta}>
	<section>
		<h1 class="title mb-6">Yo!</h1>
		<div class="space-y-6">
			<p>Here my face:</p>
			<Image
				src={thuanowaFace}
				width={200}
				format={"avif"}
				alt="thuan pham aka thuanowa face"
				loading="eager"
			/>
			<SocialList />
			<ul>
				<strong>Bio</strong>
				<li>
					Dead: <a href="https://last-will.thuanowa.com" class="cactus-link inline-block"
						>last-will.thuanowa.com</a
					>
				</li>
				<li>2023+: Finding the video editor position</li>
				<li>2019-2023: Studing in Saigon Technology University</li>
				<li>
					2018: Start make making video on youtube <a
						href="https://www.youtube.com/@thuanowa"
						class="cactus-link inline-block">https://www.youtube.com/@thuanowa</a
					>
				</li>
				<li>
					2007-2019: Spent 12 years study in Nguyễn Văn Trân Primary School, Đa Phước Middle School
					and Đa Phước High School
				</li>
				<li>2001: Born in Ho Chi Minh city, Vietnam</li>
			</ul>

			<ul>
				<strong>Likes</strong>
				<li>Making things beautiful</li>
				<li>
					<a
						href="https://www.youtube.com/playlist?list=PLcazFfFZIFPl6wk4HbURyDZPan3bwQqdd"
						class="cactus-link inline-block">MMA</a
					>
				</li>
				<li>
					<a
						href="https://www.youtube.com/playlist?list=PLcazFfFZIFPmN5m921xHh9mE08WB3Uldv"
						class="cactus-link inline-block">Cooking</a
					>
				</li>
				<li>Playing with my dog</li>
				<li></li>
			</ul>
		</div>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Links</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<a
					href="https://pay.thuanowa.com"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Payment
				</a>
				<p class="inline-block italic text-gray-500 sm:mt-2">*Help me pay my water bill</p>
			</li>
			<li>
				<a
					href="https://l.thuanowa.com/resume"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Resume
				</a>
				<p class="inline-block italic text-gray-500 sm:mt-2">
					*I am currently looking for a video editor position in Ho Chi Minh City or remotely.
				</p>
			</li>
			<li>
 				<a
					href="https://l.thuanowa.com/photos"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Photos
				</a>
			</li>
			<li>
				<a
					href="https://l.thuanowa.com/music"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Music i like
				</a>
			</li>
			<li>
				<a
					href="https://m.me/thuanowa"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Chat with me
				</a>
			</li>
			<li>
				<a
					href="https://l.thuanowa.com/calendar"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>My schedule
				</a>
			</li>
		</ul>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
		<a href="/posts" class="cactus-link italic">see more</a>
	</section>

	<section aria-label="Blog post list" class="mt-16">
		<a class="twitter-timeline" href="https://twitter.com/thuanowa?ref_src=twsrc%5Etfw"
			>Tweets by thuanowa</a
		>
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</section>
</PageLayout>
